.numeros{
background-color: aqua;
width:  auto;
height: 200px;
}

.cabeza{
background-color: rgb(207, 27, 162);
width:  auto;
height: 50px;
text-align: center;
font-family:'times';
color: aliceblue;
}

button {
	display: block;
	background-color: #0095eb;
	padding: 10px 45px 10px 45px;
	border: 0;
	font-size: 1em; 
	color: 	white;
  font-family: "Roboto", sans-serif;
}